* {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  color: #69b578;
}

body {
  background-color: #1eaf4e;
}

#board {
  display: grid;//importante para que funcione bien
  border: 1px solid #181d27;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.board-info {
  border: 1px solid #181d27;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #d0e9f7;
}

.label {
  color: #a8e0ff;
  margin-top: 8px;
}

button {
  font-size: 40px;
  cursor: pointer;
}

#game-over {
  border: 1px solid #181d27;
  display: none;
}

#score-board {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #3E517A;
  border: 2px solid #181d27;
}

.snakeSquare {
  background-color: #50dd34;
}

.foodSquare {
  background-color: #12a5f5;
}